@media screen and (max-width: 768px){
    .sidenav{
        display: none;
    }
    .header{
        padding-left: 0;
    }
    main{
        padding-left: 0;
    }
    .burger-menu{
        display: block;
        margin-left: 10px;
        cursor: pointer;
        float: right;
        height: 25px;
        width: 55px;
        position: relative;
        bottom: 118px;
        left: 75px;
    }
    .burger-menu span{
        background: #919294;
        display: block;
        height: 4px;
        transition: all 0.3s ease 0s;
        width: 100%;
    }
    .burger-menu span:nth-child(2) {
        background: #919294;
        display: block;
        height: 4px;
        left: 0;
        position: absolute;
        top: 7px;
        transition: all 0.3s ease 0s;
        width: 100%;
    }
    .burger-menu span:nth-child(3) {
        background: #919294;
        display: block;
        height: 4px;
        left: 0;
        position: absolute;
        top: 14px;
        transition: all 0.3s ease 0s;
        width: 100%;
    }
}
@media screen and (max-width: 760px){
    .img-item{
        margin: 0 auto;
        display: flex;
    }
    .box-content{
        padding-bottom: 50px;
        text-align: center;
    }
    .box-content__title{
        padding-top: 25px;

    }
}
